@font-face {
  font-family: Cooper;
  src: url(./fonts/Cooper.woff2);
}

@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Cooper;
}
#main {
  min-height: 100vh;
  width: 100%;
}

#nav {
  position: fixed;
  height: 13vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 99999999;
}

#nav>a{
  text-decoration: none;
  color: #000;
}

#nright {
  display: flex;
  align-items: center;
  gap: 50px;
}

#nright > a {
  color: black;
  font-size: 17px;
  font-weight: 00;
  text-decoration: none;
  font-family: gilroy;
}

#nav-btn {
  background-color: #fff;
  width: 10vw;
  height: 5vh;
  text-align: left;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  overflow: hidden;
  position: relative;
}

#gnav-btn{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: inherit;
  background-color: #00eb8f;
  left: -100%;
}

#nav-btn:hover>#gnav-btn{
  left: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}

#nav-btn > a {
  text-decoration: none;
  color: #000;
  z-index: 9999;
}

#nav-btn > i {
  transform: rotate(180deg);
  font-size: 20px;
  z-index: 9999;
}

#page1 {
  height: 100vh;
  width: 100%;
}

#page1 > h2 {
  font-size: 10vh;
  width: 50%;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page1 > #underline {
  height: 2%;
  width: 22%;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
}

#page1 > #but {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%;
  width: 20%;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: gilroy;
  font-size: 4.5vh;
  gap: 20px;
}

#page1 #but > button {
  width: 25%;
  height: 70%;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

#but button i {
  font-size: 25px;
  transform: rotate(180deg);
  z-index: 999;
}

#but button #g-but{
  height: 110%;
  width: 110%;
  background-color: #00eb8f;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%,-50%);
  transition: 0.5s ease;
}

#but button:hover>#g-but{
  left: 50%;
  cursor: pointer;
}

.img {
  position: absolute;
  transform: translate(-50%, -50%);
}

#img1 {
  height: 67%;
  width: 23%;
  top: 50%;
  left: 22%;
}

#img2 {
  height: 30%;
  top: 33%;
  left: 68%;
}

#img3 {
  height: 35%;
  top: 67%;
  left: 82%;
}

#page2 {
  height: 75vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#page2 > h4 {
  color: #fff;
  font-family: gilroy;
  position: absolute;
  top: 20vh;
}

#page2 > h4 i {
  color: #00eb8f;
}

#page2 > h1 {
  color: #fff;
  width: 60%;
  font-size: 5.5vh;
  line-height: 7vh;
  letter-spacing: 2px;
  text-align: center;
}

#page2 > #circle {
  height: 17%;
  width: 18%;
  background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
}

#page2 > #but {
  position: absolute;
  top: 70%;
  height: 10%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-family: gilroy;
  color: #fff;
}

#page2 > #but button {
  width: 30%;
  height: 70%;
  border-radius: 20px;
  border: 1px solid white;
  background-color: black;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#page2 > #but button #b-button{
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%,-50%);
  background-color: #00eb8f;
  height: 110%;
  width: 110%;
}

#page2 #but button:hover>#b-button{
  left: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}

#page3 {
  height: 130vh;
  width: 100%;
  position: relative;
}

#page3 > .pic1 {
  height: 60%;
  width: 13%;
  background-color: red;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(-50%, -50%);
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-69.jpg?w=800&h=2518&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002290&s=33b3b284e2298e725e8837d662a3f3bd);
  background-size: cover;
  background-position: center;
}

#page3 > .pic2 {
  height: 30%;
  width: 27%;
  background-color: green;
  position: absolute;
  top: 15%;
  left: 27%;
  transform: translate(-50%, -50%);
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-10.jpg?w=1200&h=750&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002227&s=e9befa27c3cb6b4742db66b7d49131e1);
  background-size: cover;
  background-position: center;
}

#page3 > .pic3 {
  height: 28%;
  width: 13%;
  position: absolute;
  top: 76%;
  left: 5%;
  transform: translate(-50%, -50%);
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-82.jpg?w=800&h=1200&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002337&s=2c36e03420200c6347fed613ee6ed7d3);
  background-size: cover;
  background-position: center;
}

#page3 > .pic4 {
  height: 65%;
  width: 35%;
  position: absolute;
  top: 65%;
  left: 31%;
  transform: translate(-50%, -50%);
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-2.jpg?w=1200&h=1353&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002176&s=5d4bc2c79348dc9d5effc2ed0a267366);
  background-size: cover;
  background-position: center;
}

#page3 > #right {
  position: absolute;
  position: relative;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#page3 #right > h1 {
  width: 70%;
  font-size: 7vh;
}

#page3 #right #hbtm {
  width: 13vw;
  height: 2vh;
  position: absolute;
  top: 32%;
  left: 35%;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  background-size: cover;
  background-position: center;
}

#page3 #right > h4 {
  width: 70%;
  font-size: 2.5vh;
  font-family: gilroy;
  font-weight: 500;
  letter-spacing: 1px;
}

#page3 #right #rbottom {
  height: 8vh;
  margin-top: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

#page3 #right #rbottom #left {
  height: 40px;
  width: 40px;
  background-color: aquamarine;
  border-radius: 50%;
  background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Nouri-Messaoud-2.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1634030846&s=944b7a533ea72d26afc37cdf33752fd9);
  background-size: cover;
  background-position: center;
}

#page3 #right #rbottom #center h2 {
  font-family: gilroy;
  font-weight: 400;
}

#page3 #right #rbottom button {
  height: 80%;
  width: 40%;
  border-radius: 30px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.c-btn>h4{
  z-index: 999;
  font-family: gilroy;
  font-weight: 500;
  text-transform:unset;
  font-size: 2vh;
}

.c-btn>.b-button{
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%,-50%);
  height: 110%;
  width: 110%;
  background-color: #00eb8f;
  transition: 0.5s ease;
}

.c-btn:hover>.b-button{
  left: 50%;
  cursor: pointer;
}

#page3 #right #rbottom button i {
  font-size: 30px;
  transform: rotate(180deg);
}

#page4 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#page4 > h4 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: gilroy;
  font-weight: 400;
  letter-spacing: 1px;
}

#page4 > #left {
  height: 60vh;
  width: 40%;
  background-color: cornflowerblue;
  position: relative;
  overflow: hidden;
}

#page4 > #left #lpic {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-image: url(https://d3mvlb3hz2g78.cloudfront.net/wp-content/uploads/2021/03/thumb_720_450_dreamstime_m_22648112.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page4 #left:hover>#lpic {
  height: 110%;
  width: 110%;
  transition: 1s ease;
  cursor: pointer;
}

#page4 > #left h3 {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 3.5vh;
  font-family: Cooper;
}

#page4 > #left h1 {
  position: absolute;
  top: 35%;
  left: 5%;
  font-size: 8vh;
  font-family: gilroy;
  font-weight: 300;
}

#page4 > #right {
  height: 60vh;
  width: 40%;
  background-color: darkgreen;
  position: relative;
  overflow: hidden;
}

#page4 > #right #rpic {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1568871391149-449702439177%3Fixid%3DMXwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhdGlvbmFyeXxlbnwwfHwwfA%253D%253D%26ixlib%3Drb-1.2.1%26w%3D1000%26q%3D80&f=1&nofb=1&ipt=bc4dab654c72020bf28bfc877756f5c88d1a8e2aac02a76964c970ffbeaa14e7&ipo=images);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page4 #right:hover>#rpic {
  height: 110%;
  width: 110%;
  transition: 1s ease;
  cursor: pointer;
}

#page4 > #right h3 {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 3.5vh;
  font-family: Cooper;
}

#page4 > #right h1 {
  position: absolute;
  top: 35%;
  left: 5%;
  font-size: 8vh;
  font-family: gilroy;
  font-weight: 300;
}

#page4 #btn {
  position: absolute;
  top: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#page4 #btn > #left {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-size: cover;
  background-position: top;
}

#page4 #btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 5vh;
  width: 8vw;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid gray;
  position: relative;
  overflow: hidden;
}

#page4 #btn button i {
  transform: rotate(180deg);
  font-size: 20px;
}

#page4 #btn button h4{
  z-index: 999;
  font-family: gilroy;
  font-weight: 400;
}

#page4 #btn button #blue-btn{
  height: 110%;
  width: 110%;
  background-color: #00eb8f;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%,-50%);
  transition: 0.5s ease;
}

#page4 #btn button:hover>#blue-btn{
  left: 50%;
  cursor: pointer;
}

#page5 {
  height: 70vh;
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 80%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  font-family: gilroy;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.swiper-slide>.top{
  height: 10vh;
  width: 17%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.swiper-slide>.bottom{
  height: 80vh;
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.swiper-slide h1{
  width: 70%;
  font-size: 8vh;
  line-height: 0.9;
  font-weight: 500;
  letter-spacing: 1px;
}

.swiper-slide h4{
  width: 70%;
  font-size: 3vh;
  line-height: 0.9;
  font-weight: 400;
}

.swiper-slide h5{
  width: 70%;
  font-size: 2vh;
  line-height: 0.9;
  opacity: 0.7;
  font-weight: 400;
}

#page6 {
  height: 40vh;
  width: 100%;
  background-color: white;
  position: relative;
}

#page6>#center{
  height: 45vh;
  width: 70%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999;
  background-image: url(https://ik.imagekit.io/sheryians/courses_gif/Web_Design___Development__Create_Web_Experiences-asdasds_ZMYjEfQsU.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page6>#center #dets{
 height: 80%;
 width: 80%;
 background-color: rgba(0, 0, 0, 0.753);
  display: flex;
  flex-direction: column;
  justify-content: center;
position: relative;
}

#page6 #center #dets h1{
  align-items: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Gilroy;
  text-align: center;
}
#page6 #center #dets h4{
  color: #fff;
  font-weight: 350;
  letter-spacing: 2px;
  font-family: gilroy;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 3%;
  font-size: 1.7vh;
  opacity: 0.8;
}

#page7 {
  height: 80vh;
  width: 100%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#page7> #center{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 85%;
}

#page7> #center .all{
  height: 70%;
  width: 22%;
  background-color: black;
  font-family: gilroy;
  color: #fff;
  display: flex;
  flex-direction: column;
}

#page7> #center #a{
  gap: 20px;
}

#page7> #center #a h1{
  font-size: 6vh;
  color: #fff;
  font-weight: 400;
}

#page7> #center #a>#btn{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Gilroy;
  font-size: 4vh;
  color: #fff;
}

#center #a #btn button{
  height: 5vh;
  width: 5vw;
  border: 1px solid white;
  background-color: #000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

#center #a #btn button i{
  font-size: 4vh;
  color: #fff;
  transform: rotate(180deg);
}

#page7> #center #b {
  gap: 20px;
}

#page7> #center #c {
  gap: 20px;
}

#page7> #center #b h3{
  font-weight: 400;
}
.social a{
  display: flex;
  align-items: center;
  justify-content:flex-start ;
  gap: 20px;
  text-decoration: none;
  color: #fff;
}
.social a h3{
  font-weight: 300;
}

.social a:hover{
  color: #00eb8f;
  font-size: 2vh;
  transition: all 0.5s;
  cursor: pointer;
}

.social a i{
  font-size: 4vh;
}

#page7 #center >#d{
  gap: 20px;
}

#page7 #center #d h3{
  font-weight: 400;
}

#center #a #btn button #blue-btn{
  height: 120%;
  width: 110%;
  background-color: #00eb8f;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%,-50%);
  transition: 0.5s ease;
}

#center #a #btn button:hover>#blue-btn{
  left: 50%;
  cursor: pointer;
}